@import "tailwindcss";

@layer base {
	:root {
		--tw-color-primary: #010440;
	}
}

body {
	@apply bg-gray-950;
}

@theme {
	--color-primary: #010440;
	--color-secondary: #243c5a;
	--color-tertiary: #07d9d9;
	--color-quaternary: #0596a6;

	--color-text-primary: #010440;
	--color-text-secondary: #243c5a;
	--color-text-tertiary: #07d9d9;
	--color-text-quaternary: #0596a6;

	--radius-normal: 0.625rem;

	--text-h2: 3.25rem;
}

@layer utilities {
	.bg-primary {
		background-color: var(--tw-color-primary);
	}
	.text-primary {
		color: var(--tw-color-primary);
	}
	.border-primary {
		border-color: var(--tw-color-primary);
	}
}

.bg-gradient-hero {
	background: rgb(1, 4, 64);
	background: linear-gradient(
		157deg,
		rgba(32, 36, 115, 1) 15%,
		rgba(7, 217, 217, 1) 100%
	);
	box-shadow: -112px -115px 115px 29px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: -112px -115px 115px 29px rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: -112px -115px 115px 29px rgba(255, 255, 255, 0.6) inset;
}

.hex1 {
	-webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
	clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}
